.campaign-input{
    text-align: center !important;
    margin-bottom: 0 !important;
}

.campaign-data-col{
    text-align: right;
    margin-left: 4%;
}

label{
    margin-right: 5px;
}

input{
    text-align: right;
}
.ad-info input{
        text-align: left;
}

.header{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 20px;
}

.my-selector{
    width: 25%;
    text-align: center;
    margin-right: 5px;
}

.form-control{
    display: inline !important;
}

.radio{
    display:inline;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px;
    min-height: 34px;
    max-height: 34px;
    padding-top:8px;
    padding-bottom:9px;
    padding-left:9px;
}

.click-input{
    margin-bottom: 10px;
    padding-left: 18%;
    padding-right: 18%;
}
.my-well{
    margin-top: 30px;
    min-height: 530px !important;
    max-height: 540px !important;
    text-align: right;
}

#img-preview{
    max-width: 80%;
    max-height: 250px;
}


.img-preview-container{
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ad-info{
    text-align: center;
    
}

.position{
    margin-top: 5px;
}

#positions{
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y:scroll;
    max-height: 120px
}

#ads-preview-list{
    margin-top: 30px;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-flex;
    direction: rtl;
}

.ad-preview{
    float: right;
    margin-left: 10px;
}

.ad-preview-img{
    height: 190px;
    border: 2px solid black;
  }

.ad-preview-size{
    width: 190px;
    text-align: center;
    background: black;
    color: white;
    position: relative;
    top: -20px;
    width: 100%;
}

.remove-ad{
    background: red;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: white;
    position: relative;
    top: -200px;
    left: -15px;
}

.save{
    position: fixed;
    bottom: 20px;
    left: 20px;
}